
@{
    ViewBag.Title = "_PartialMap";
    Layout = "~/Views/Shared/_LayoutDaXe.cshtml";
}
<div class="header-content2" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080">
    <div class="header-content-overlay bg-dark-overlay40">
        <div id="map" class="embed-map">
        </div>
        <div class="header-content-form dialoghehe">
            <div class="header-form-wrap">
                <div class="submit-status"></div>
                <!-- submit status -->

                <form method="post" action="#" class="affa-form-signup">
                    <input type="text" name="email" id="header_form_email" placeholder="Điểm đi">
                    <input type="text" name="email" id="header_form_email" placeholder="Điểm đến">
                    <input type="text" name="email" id="header_form_email" placeholder="Số người đi">
                    <input id="departDate" readonly="" name="departDate" type="text" class="input-txt date hasDatepicker" placeholder="Chọn ngày đi" accesskey="3" tabindex="3" autocomplete="off">
                    <input type="submit" name="submit" value="Tìm xe" class="btn-medium">
                </form>
                <p class="text-desc">Nếu có bất kỳ vấn đề gì trong quá trình tìm lộ trình, xin vui lòng liên hệ <a href="#">0974 629 771</a> để được hỗ trợ.</p>
            </div>
        </div>
    </div>
</div>


